$lightColor: rgb(187, 221, 238);
$openBlack: rgba(45, 56, 60, 0.8);
$myBlack: rgb(25, 36, 40);
$navGrey: rgb(45, 56, 60);
$radiantBlue: rgb(57, 172, 231);
$darkBlue: rgb(7, 132, 181);
$navColor: rgb(65, 76, 80);
